*.DS_Store
*.exe
*.lib
*.obj
*.suo
*.u2d
*.pdb
*.user
*.list
*.lst
*.cbc
*.cbb
*.hds
*.ddn
*.bsv
*.out
*.grb
*.bin
*.output.dat
*.csv
*.chk

*.pyc
*.mod
*.pui
*.bak

*.aux
*.idx
*.lof
*.log
*.lot
*.synctex.gz
*.toc
*_genmod.f90

.idea/
*.o

Debug/
Release/
bin/
__pycache__/

examples/python/.ipynb_checkpoints/*.ipynb
doc/*.pdf

bin/mf6
bin/mf5to6
bin/zbud6

tmp_simulations/
autotest/temp/
autotest/*.html

.ipynb_checkpoints/

Thumbs.db

